.App {
    height: 100vh;
    width: 100vw;
    background: url("./background_purple.png");
    background-color: purple;
    // background-image: linear-gradient(purple, blue);
    background-repeat: no-repeat;
    background-size: cover;
}



